
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/img/fondo-pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Con esto hago que el contenedor General tenga el 100% del Alto del ViewPort*/
}

/*Para mejorar la Vista en Móviles sería mejor usar Media Queries con el width*/
.contenedor-pizza {
    min-width: 30vw; /*Como mínimo el ancho será de 30vw*/
    width: 30vw;
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 65%; /*Como máximo el alto será el 65% del alto del padre*/
    max-width: 600px; /*Como máximo el ancho será de 600px*/
}

.contenedor-titulo {
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-titulo h1 {
    text-align: center;
    padding: 10px 0 15px;
}

.contenedor-toppings {
    width: 100%;
}

.contenedor-toppings ul {
    width: 100%;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-toppings ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* display: inline-block; */
}

.contenedor-toppings ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-size: 1.2rem;
}

.marron {
    background-color: #8D4925;
}

.naranja {
    background-color: #FF8000;
}